.view_btn{
    background: none;
    border: none;
    color: #6495ed;
    cursor: pointer;
    padding-left: 0;
}
.edit_btn{
    background: none;
    border: none;
    cursor: pointer;
}
.delete_btn{
    background: none;
    border: none;
    color: #7cc578 !important;
    cursor: pointer;
    padding: 0px !important;
}
.mat-header-row {
    z-index: 0 !important;
}