.header {
  background-color: #eef7ff;
  font-weight: bolder;
  font-size: 14px;
}
.backgroundColor {
  background-color: #eef7ff;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
th {
  padding: 16px;
  background-color: #eef7ff;
  width: 180px;
  color: black;
  text-align: center;
}
td {
  padding: 16px;
  background-color: white;
  width: 180px;
}
tr {
  padding: 16px;
}
.next-button {
  margin-top: 36px;
}
.add_btn {
  background: none;
  border: none;
  cursor: pointer;
}
.delete_btn {
  background: none;
  border: none;
  color: #7cc578 !important;
  cursor: pointer;
  padding: 0px !important;
}
