<div class="card" style="background-color: #f3f9fe; border-radius: 22px;">
  <div class="card-body">
    <h3 style="color: black;" class="card-title">Add Encashment Policy</h3>
  </div>
  <form  [formGroup]="encashPolicy" style="padding: 15px">
   <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Policy Name</mat-label>
          <input matInput [formControl]="encashPolicy.controls['policyName']"
        type="text" />
          <mat-error *ngIf="encashPolicy.controls['policyName'].errors"
          ><span
            *ngIf="encashPolicy.controls['policyName'].errors.required"
          >
            You must enter a Policy Name.</span
          >
        </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Calculation Based On</mat-label>
          <mat-select
          [formControl]="encashPolicy.controls['calcBasedOnId']"
              placeholder=""
            >
              <mat-option
                *ngFor="let type of lstCalcBasedOn"
                [value]="type.calculationbasedonId"
              >
                {{ type.calculationbasedon }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="encashPolicy.controls['calcBasedOnId'].errors"
            ><span
              *ngIf="encashPolicy.controls['calcBasedOnId'].errors.required"
            >
              You must select Calculation Based On .</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Excluded from gross only for calc based on is gross salary-->
      <div class="col-md-4" *ngIf="encashPolicy.get('calcBasedOnId').value===2">
        <mat-form-field appearance="outline">
          <mat-label>Excluded From Gross</mat-label>
          <mat-select
              multiple
              [formControl]="encashPolicy.controls['particularId']"
              placeholder=""
            >
              <mat-option
                *ngFor="let type of lstParticular"
                [value]="type.additionDeductionId"
              >
                {{ type.particulars}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Calculation Day</mat-label>
          <mat-select
          [formControl]="encashPolicy.controls['calcDayId']"
              placeholder=""
            >
              <mat-option
                *ngFor="let type of lstCalcDay"
                [value]="type.CalculationDayID"
              >
                {{ type.CalculationDayDescription }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="encashPolicy.controls['calcDayId'].errors"
            ><span
              *ngIf="encashPolicy.controls['calcDayId'].errors.required"
            >
              You must select Calculation Day.</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4" >
        <label class="pr-box" style="margin-top: 20px;">
          <input style="padding: 20px 22px;
          margin-right: 12px;" type="checkbox" id=""    [formControl]="encashPolicy.controls['isRatePerDay']" value="" checked="checked">
          <span class="checkmark">Rate Per Day </span>
        </label>
      </div>

      <div class="col-md-4" *ngIf="encashPolicy.controls['isRatePerDay'].value">
        <mat-form-field appearance="outline">
          <mat-label>Encash Rate</mat-label>
          <input OnlyNumber="true" matInput [formControl]="encashPolicy.controls['encashRate']"
        type="text" />
          <mat-error *ngIf="encashPolicy.controls['encashRate'].errors"
          ><span
            *ngIf="encashPolicy.controls['encashRate'].errors.required"
          >
            You must enter a Encash Rate.</span
          >
        </mat-error>
        </mat-form-field>
      </div>

    </div>
    <div class="col-md-12 row" style="margin-top: 50px;margin-left: 40%;">
      <button type="button"  mat-raised-button color="primary" class="btn save_btn m-r-10 m-t-20" (click)="saveDetail()">Save</button>
      <button type="button"  mat-raised-button class="btn btn-secondary m-t-20" (click)="cancel()">Cancel</button>
   </div>
  </form>
</div>
