<h2 *ngIf="!isNew">Edit event: '{{ appointment?.title }}'</h2>
<h2 *ngIf="isNew">Create new event</h2>
<form [formGroup]="form">
  <div class="form-group">
    <label
      >Title:
      <input type="text" formControlName="title" />
    </label>
  </div>
  <div class="form-group">
    <label
      >Holiday Type:
      <input type="text" formControlName="holiday" />
    </label>
  </div>

  <button type="submit" *ngIf="isNew" (click)="onAdd()">Add</button>
  <button type="submit" *ngIf="!isNew" (click)="onUpdate()">Update</button>
  <button type="button" (click)="close.emit()">Cancel</button>
</form>
