<div class="card" style="background-color: #f3f9fe; border-radius: 22px">
  <div class="card-body">
    <h3 style="color: black" class="card-title">Edit OverTime Policy</h3>
  </div>
  <form [formGroup]="overTimePolicy" style="padding: 15px">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Policy Name</mat-label>
          <input
            matInput
            [formControl]="overTimePolicy.controls['policyName']"
            type="text"
          />
          <mat-error *ngIf="overTimePolicy.controls['policyName'].errors"
            ><span
              *ngIf="overTimePolicy.controls['policyName'].errors.required"
            >
              You must enter a Policy Name.</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Calculation Based On</mat-label>
          <mat-select
            [formControl]="overTimePolicy.controls['calcBasedOnId']"
            placeholder=""
          >
            <mat-option
              *ngFor="let type of lstCalcBasedOn"
              [value]="type.calculationbasedonId"
            >
              {{ type.calculationbasedon }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="overTimePolicy.controls['calcBasedOnId'].errors"
            ><span
              *ngIf="overTimePolicy.controls['calcBasedOnId'].errors.required"
            >
              You must select Calculation Based On .</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Excluded from gross only for calc based on is gross salary-->
      <div
        class="col-md-4"
        *ngIf="overTimePolicy.get('calcBasedOnId').value === 2"
      >
        <mat-form-field appearance="outline">
          <mat-label>Excluded From Gross</mat-label>
          <mat-select
            multiple
            [formControl]="overTimePolicy.controls['particularId']"
            placeholder=""
          >
            <mat-option
              *ngFor="let type of lstParticular"
              [value]="type.additionDeductionId"
            >
              {{ type.particulars }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Calculation Day</mat-label>
          <mat-select
            [formControl]="overTimePolicy.controls['calcDayId']"
            placeholder=""
          >
            <mat-option
              *ngFor="let type of lstCalcDay"
              [value]="type.CalculationDayID"
            >
              {{ type.CalculationDayDescription }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="overTimePolicy.controls['calcDayId'].errors"
            ><span *ngIf="overTimePolicy.controls['calcDayId'].errors.required">
              You must select Calculation Day.</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Calculation Percentage</mat-label>
          <input
            matInput
            type="number"
            OnlyNumber="true"
            [formControl]="overTimePolicy.controls['calcPercentage']"
            type="text"
          />
          <mat-error *ngIf="overTimePolicy.controls['calcPercentage'].errors"
            ><span
              *ngIf="overTimePolicy.controls['calcPercentage'].errors.required"
            >
              You must enter a Calculation Percentage.</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Overtime Rate</mat-label>
          <input
            matInput
            type="number"
            OnlyNumber="true"
            [formControl]="overTimePolicy.controls['overtimeRate']"
            type="text"
          />
          <mat-error *ngIf="overTimePolicy.controls['overtimeRate'].errors"
            ><span
              *ngIf="overTimePolicy.controls['overtimeRate'].errors.required"
            >
              You must enter a Overtime Rate.</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-label>Working Hour</mat-label>

        <ngb-timepicker
          [formControl]="overTimePolicy.controls['workingHour']"
        ></ngb-timepicker>
      </div>

      <div class="col-md-4">
        <label class="pr-box" style="margin-top: 20px">
          <input
            style="padding: 20px 22px; margin-right: 12px"
            type="checkbox"
            id=""
            [formControl]="overTimePolicy.controls['isRateOnly']"
            value=""
            checked="checked"
          />
          <span class="checkmark">Rate Only </span>
        </label>
      </div>
    </div>
    <div class="col-md-12 row" style="margin-top: 50px; margin-left: 40%">
      <button
        type="button"
        mat-raised-button
        color="primary"
        class="btn save_btn m-r-10 m-t-20"
        (click)="saveDetail()"
      >
        Save
      </button>
      <button
        type="button"
        mat-raised-button
        class="btn btn-secondary m-t-20"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
