<div class="card" style="background-color: #f3f9fe">
  <div class="card-body">
    <h2 style="color: black;" class="card-title">Settlement Policy</h2>
  </div>
  <form class="row" [formGroup]="settlementPolicy" style="padding: 20px; background-color: #f3f9fe">
      <div class="col-md-12">
        <mat-form-field appearance="outline">
          <mat-label>Policy Name</mat-label>
          <input matInput [formControl]="settlementPolicy.controls['policyName']"
         type="text" />
          <mat-error *ngIf="settlementPolicy.controls['policyName'].errors"
          ><span
            *ngIf="settlementPolicy.controls['policyName'].errors.required"
          >
            You must enter a Policy Name.</span
          >
        </mat-error>
        </mat-form-field>
      </div>
  </form>
  <mat-horizontal-stepper [linear]="false" #stepper  style="background-color: #f3f9fe">
    <mat-step [stepControl]="normalForm">
      <ng-template matStepLabel>Normal</ng-template>
      <form [formGroup]="normalForm">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Calculation Based On</mat-label>
              <mat-select
                  [formControl]="normalForm.controls['calcBasedOn']"
                  placeholder=""
                >
                  <mat-option
                    *ngFor="let type of lstCalcBasedOn"
                    [value]="type.calculationbasedonId"
                  >
                    {{ type.calculationbasedon }}
                  </mat-option>
                </mat-select>
              <mat-error *ngIf="normalForm.controls['calcBasedOn'].errors"
              ><span
                *ngIf="normalForm.controls['calcBasedOn'].errors.required"
              >
                You must select Shift Type.</span
              >
            </mat-error>
            </mat-form-field>
          </div>
          <!-- <h5>Excluded From Gross</h5> -->
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Excluded From Gross</mat-label>
              <mat-select
                  multiple
                  [formControl]="normalForm.controls['particulars']"
                  placeholder=""
                >
                  <mat-option
                    *ngFor="let type of lstParticular"
                    [value]="type.additionDeductionId"
                  >
                    {{ type.particulars}}
                  </mat-option>
                </mat-select>
              <mat-error *ngIf="normalForm.controls['particulars'].errors"
              ><span
                *ngIf="normalForm.controls['particulars'].errors.required"
              >
                You must select Shift Type.</span
              >
            </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Calculation Day</mat-label>
              <mat-select
                  [formControl]="normalForm.controls['calcDay']"
                  placeholder=""
                >
                  <mat-option
                    *ngFor="let type of lstCalcDay"
                    [value]="type.CalculationDayID"
                  >
                    {{ type.CalculationDayDescription }}
                  </mat-option>
                </mat-select>
              <mat-error *ngIf="normalForm.controls['calcDay'].errors"
              ><span
                *ngIf="normalForm.controls['calcDay'].errors.required"
              >
                You must select Shift Type.</span
              >
            </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4" >
            <label class="pr-box" style="margin-top: 20px;">
              <input style="padding: 20px 22px;
              margin-right: 12px;" type="checkbox" id=""   [formControl]="settlementPolicy.controls['isIncludeEligibleLeave']" value="" checked="checked">
              <span class="checkmark">Include Eligible Leave </span>
            </label>
          </div>
        </div>
        <hr>
        &nbsp;
        <div class="row">
          <mat-tab-group>
            <mat-tab label="Less Than Five">
              <div class="example-container mat-elevation-z8 mt-3">
                <table  class="mat-elevation-z8">
                  <tr>
                    <th>Parameter</th>
                    <th>No Of Days</th>
                    <th>No of Months</th>
                    <th>Action</th>
                  </tr>
                  <span  formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
                    <tr [formGroupName]="i">
                      <td>
                        <mat-select
                        style="
                        background-color: #f3f9fe;
                        padding: 6px;
                        border-radius: 10px;
                        "
                       formControlName ="parameter"
                        placeholder=""
                      >
                        <mat-option
                          *ngFor="let type of lstParameter"
                          [value]="type.parameter"
                        >
                          {{ type.parameter }}
                        </mat-option>
                      </mat-select>
                      </td>

                      <td>
                        <input
                        formControlName ="noOfday"
                          style="
                          background-color: #f3f9fe;
                          padding: 6px;
                          border-radius: 10px;
                          "
                          matInput
                          type="number"
                          placeholder=""
                        /></td>
                      <td>
                         <input
                         formControlName ="noOfMonths"
                          style="
                          background-color: #f3f9fe;
                          padding: 6px;
                          border-radius: 10px;
                          "
                          matInput
                          type="number"
                          placeholder=""
                        />
                      </td>
                        <td style="display:flex !important;
                        justify-content:center!important;">
                          <button
                          id="Add"
                          title="Add"
                          class="add_btn"
                          (click)="addRow()"
                        >
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <button
                        style="margin-left: 6px;"
                          id="delete"
                          title="Delete"
                          (click)="deleteRow(i)"
                          class="delete_btn mr-2"
                        >
                          <i
                            class="fa fa-trash"
                            style="color: cornflowerblue"
                            aria-hidden="true"
                          ></i>
                          </button>
                        </td>
                    </tr>
                  </span>

                </table>
           </div>
            </mat-tab>
            <mat-tab label="Greater Than Five"> Content 2 </mat-tab>
          </mat-tab-group>
        </div>
        <div class="next-button">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
