<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->

  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step  [stepControl]="companyInfoForm">

        <ng-template matStepLabel>Company Info</ng-template>
        <div class="form">

          <div class="row">
            <!-- <div class="col-lg-12"> -->
              <h3 class="col-md-2 col-2">Creation Mode</h3>

              <div class="toggle_radio col-sm-2">
                <input type="radio" [(ngModel)]="intOwnToggle" value="0" class="toggle_option" id="first_toggle" name="toggle_option" (change)="ownToggle()">
                <input type="radio" [(ngModel)]="intOwnToggle" value="1" checked class="toggle_option" id="second_toggle" name="toggle_option" (change)="ownToggle()">
                <label for="first_toggle"><p>Company</p></label>
                <label for="second_toggle"><p>Branch</p></label>
                <div class="toggle_option_slider">
                </div>
            </div>
          </div>
          <form class="row" >
          <div class="col-md-4" *ngIf="intOwnToggle=='0'">
            <mat-form-field>
              <input
                matInput
                placeholder="Company Name*"
                [formControl]="companyInfoForm.controls['companyName']"
                [(ngModel)]="strCompanyName"
                value=""
                name="company"
                #companyName
              />
              <mat-error *ngIf="companyInfoForm.controls['companyName'].errors"
                ><span
                  *ngIf="companyInfoForm.controls['companyName'].errors.required"
                >
                  You must enter a Company Name.</span
                >
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="intOwnToggle=='1'">
            <mat-form-field>
              <mat-select
                #idPriceTemplate
                matInput
                required
                [(ngModel)]="intCompanyId"
                name="intCompany"
                matInput
                placeholder="Comapny Name"
                [formControl]="companyInfoForm.controls['companyName']"
              >
                <mat-option
                  *ngFor="let item of lstCompany"
                  [value]="item.companyId"
                  >{{ item.companyName }}</mat-option
                >
                <!-- <mat-option [value]="1">DEALER PRICE</mat-option>  -->
              </mat-select>
              <mat-error *ngIf="companyInfoForm.controls['companyName'].errors"
                ><span
                  *ngIf="companyInfoForm.controls['companyName'].errors.required"
                >
                  You must enter a Company Name.</span
                >
              </mat-error>
            </mat-form-field>
          </div>
          <!-- <div class="col-md-4">
            <mat-form-field>
              <mat-select
                matInput
                required
                [(ngModel)]="intBranch"
                name="intBranch"
                matInput
                placeholder="Branch Name"
                [formControl]="companyInfoForm.controls['branchName']"
              >
                <mat-option
                  *ngFor="let item of lstBankBranch"
                  [value]="item.bankBranchId"
                  >{{ item.branchName }}</mat-option
                >
              </mat-select>
              <mat-error *ngIf="companyInfoForm.controls['branchName'].errors"
                ><span
                  *ngIf="companyInfoForm.controls['branchName'].errors.required"
                >
                  You must enter a country.</span
                >
              </mat-error>
            </mat-form-field>
          </div> -->
          <div class="col-md-4" *ngIf="intOwnToggle=='1'">
            <mat-form-field>
              <input
                matInput
                placeholder="Branch Name*"
                [formControl]="companyInfoForm.controls['branchName']"
                [(ngModel)]="strBranch"
                value=""
                name="company"
                #branchName
              />
              <mat-error *ngIf="companyInfoForm.controls['branchName'].errors"
                ><span
                  *ngIf="companyInfoForm.controls['branchName'].errors.required"
                >
                  You must enter a Branch Name.</span
                >
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input
                matInput
                placeholder="Employer Code*"
                [formControl]="companyInfoForm.controls['employerCode']"
                [(ngModel)]="strEmployerCode"
                value=""
                name="employerCode"
                #employerCode
              />
              <mat-error *ngIf="companyInfoForm.controls['employerCode'].errors"
                ><span
                  *ngIf="companyInfoForm.controls['employerCode'].errors.required"
                >
                  You must enter a Employer Code.</span
                >
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input
                matInput
                placeholder="Short Name*"
                [formControl]="companyInfoForm.controls['shortName']"
                [(ngModel)]="strShortName"
                value=""
                name="shortName"
                #shortName
              />
              <mat-error *ngIf="companyInfoForm.controls['shortName'].errors"
                ><span
                  *ngIf="companyInfoForm.controls['shortName'].errors.required"
                >
                  You must enter a Short Name.</span
                >
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <mat-select
                #idPriceTemplate
                matInput
                required
                [(ngModel)]="intCountry"
                name="intCountry"
                matInput
                placeholder="Country"
                [formControl]="companyInfoForm.controls['strCountry']"
              >
                <mat-option
                  *ngFor="let item of lstCountryData"
                  [value]="item.countryId"
                  >{{ item.countryName }}</mat-option
                >
                <!-- <mat-option [value]="1">DEALER PRICE</mat-option>  -->
              </mat-select>
              <mat-error *ngIf="companyInfoForm.controls['strCountry'].errors"
                ><span
                  *ngIf="companyInfoForm.controls['strCountry'].errors.required"
                >
                  You must enter a country.</span
                >
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-select
                #idPriceTemplate
                matInput
                required
                [(ngModel)]="intCurrency"
                name="intCurrency"
                matInput
                placeholder="Currency"
                [formControl]="companyInfoForm.controls['strCurrency']"
              >
                <mat-option
                  *ngFor="let item of lstCurrency"
                  [value]="item.currencyId"
                  >{{ item.currencyName }}</mat-option
                >
              </mat-select>
              <mat-error *ngIf="companyInfoForm.controls['strCurrency'].errors"
                ><span
                  *ngIf="companyInfoForm.controls['strCurrency'].errors.required"
                >
                  You must enter a currency.</span
                >
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-select
                #idPriceTemplate
                matInput
                required
                [(ngModel)]="intCompanyIndustry1"
                name="intCompanyIndustry1"
                matInput
                placeholder="Company Industry"
                [formControl]="companyInfoForm.controls['strCompanyIndustry']"
              >
                <mat-option
                  *ngFor="let item of lstIndustry"
                  [value]="item.companyIndustryId"
                  >{{ item.companyIndustryName }}</mat-option
                >
              </mat-select>
              <mat-error
                *ngIf="companyInfoForm.controls['strCompanyIndustry'].errors"
                ><span
                  *ngIf="
                    companyInfoForm.controls['strCompanyIndustry'].errors.required
                  "
                >
                  You must enter a company industry.</span
                >
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-select
                #idPriceTemplate
                matInput
                required
                [(ngModel)]="intCompanyType"
                name="intCompanyType"
                matInput
                placeholder="Company Type"
                [formControl]="companyInfoForm.controls['strCompanyType']"
              >
                <mat-option
                  *ngFor="let item of lstType"
                  [value]="item.companyTypeId"
                  >{{ item.companyTypeName }}</mat-option
                >
              </mat-select>
              <mat-error *ngIf="companyInfoForm.controls['strCompanyType'].errors"
                ><span
                  *ngIf="companyInfoForm.controls['strCompanyType'].errors.required"
                >
                  You must enter a company type.</span
                >
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input
                matInput
                placeholder="Website"
                [formControl]="companyInfoForm.controls['website']"
                [(ngModel)]="strWebsite1"
                value=""
                name="website1"
                #1
              />
              <mat-error *ngIf="companyInfoForm.controls['website'].errors"
                ><span *ngIf="companyInfoForm.controls['website'].errors.required">
                  You must enter a website.</span
                >
              </mat-error>
            </mat-form-field>
          </div>

          <div class="next-button">
            <button mat-button matStepperNext (click)="nextClicked('')">Next</button>
          </div>
        </form>
        </div>
    </mat-step>

    <mat-step [stepControl]="addressInfoForm">
      <form class="row form" >
        <ng-template matStepLabel>Address Info</ng-template>
        <div class=row>
        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Area"
              [formControl]="addressInfoForm.controls['area']"
              [(ngModel)]="strarea"
              value=""
              name="company"
              #area
            />
            <mat-error *ngIf="addressInfoForm.controls['area'].errors"
              ><span *ngIf="addressInfoForm.controls['area'].errors.required">
                You must enter a area.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Block"
              [formControl]="addressInfoForm.controls['block']"
              [(ngModel)]="strblock"
              value=""
              name="block"
              #block
            />
            <mat-error *ngIf="addressInfoForm.controls['block'].errors"
              ><span *ngIf="addressInfoForm.controls['block'].errors.required">
                You must enter a block.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Street"
              [formControl]="addressInfoForm.controls['street']"
              [(ngModel)]="strstreet"
              value=""
              name="street"
              #street
            />
            <mat-error *ngIf="addressInfoForm.controls['street'].errors"
              ><span *ngIf="addressInfoForm.controls['street'].errors.required">
                You must enter a street.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="City"
              [formControl]="addressInfoForm.controls['city']"
              [(ngModel)]="strcity"
              value=""
              name="city"
              #city
            />
            <mat-error *ngIf="addressInfoForm.controls['city'].errors"
              ><span *ngIf="addressInfoForm.controls['city'].errors.required">
                You must enter a city.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select
              #idPriceTemplate
              matInput
              required
              [(ngModel)]="intState"
              name="intState"
              matInput
              placeholder="Province/State"
              [formControl]="addressInfoForm.controls['strState']"
            >
              <mat-option
                *ngFor="let item of lstStateData"
                [value]="item.stateId"
                >{{ item.state }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="addressInfoForm.controls['strState'].errors"
              ><span *ngIf="addressInfoForm.controls['strState'].errors.required">
                You must enter a Province/State.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Primary E-mail"
              [formControl]="addressInfoForm.controls['primaryEmail']"
              [(ngModel)]="strprimaryEmail"
              value=""
              name="primaryEmail"
              #primaryEmail
            />
            <mat-error *ngIf="addressInfoForm.controls['primaryEmail'].errors"
              ><span
                *ngIf="addressInfoForm.controls['primaryEmail'].errors.required"
              >
                You must enter a primary E-mail.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Secondary E-mail"
              [formControl]="addressInfoForm.controls['secondaryEmail']"
              [(ngModel)]="strsecondaryEmail"
              value=""
              name="secondaryEmail"
              #secondaryEmail
            />
            <mat-error *ngIf="addressInfoForm.controls['secondaryEmail'].errors"
              ><span
                *ngIf="addressInfoForm.controls['secondaryEmail'].errors.required"
              >
                You must enter a secondary E-mail.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select
              #idPriceTemplate
              matInput
              required
              [(ngModel)]="intCompanyIndustry2"
              name="intCompanyIndustry2"
              matInput
              placeholder="Company Industry"
              [formControl]="addressInfoForm.controls['strCompanyIndustry']"
            >
              <mat-option
                *ngFor="let item of lstIndustry"
                [value]="item.companyIndustryId"
                >{{ item.companyIndustryName }}</mat-option
              >
            </mat-select>
            <mat-error
              *ngIf="addressInfoForm.controls['strCompanyIndustry'].errors"
              ><span
                *ngIf="
                  addressInfoForm.controls['strCompanyIndustry'].errors.required
                "
              >
                You must enter a company industry.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <textarea
              matInput
              placeholder="Other Information"
              [formControl]="addressInfoForm.controls['otherInformation']"
              [(ngModel)]="strOtherInformation"
              value=""
              name="otherInformation"
              #otherInformation
            ></textarea>
            <mat-error *ngIf="addressInfoForm.controls['otherInformation'].errors"
              ><span
                *ngIf="
                  addressInfoForm.controls['otherInformation'].errors.required
                "
              >
                You must enter a other information.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Website"
              [formControl]="addressInfoForm.controls['website']"
              [(ngModel)]="strWebsite2"
              value=""
              name="website2"
              #website
            />
            <mat-error *ngIf="addressInfoForm.controls['website'].errors"
              ><span *ngIf="addressInfoForm.controls['website'].errors.required">
                You must enter a website.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="week-box container">
        <h5>Weekly off days</h5>
        <div class="row">
          <div class="day-bax">
            <h4>Sunday</h4>
            <label class="pr-box">
              <input type="checkbox" id=""  [(ngModel)]="blnSunday" value="" checked="checked" [formControl]="addressInfoForm.controls['Sunday']">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="day-bax">
            <h4>Monday</h4>
            <label class="pr-box">
              <input type="checkbox" id=""  [(ngModel)]="blnMonday" value="" checked="checked" [formControl]="addressInfoForm.controls['Monday']">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="day-bax">
            <h4>Tuesday</h4>
            <label class="pr-box">
              <input type="checkbox" id=""  [(ngModel)]="blnTuesday" value="" checked="checked" [formControl]="addressInfoForm.controls['Tuesday']">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="day-bax">
            <h4>Wednesday</h4>
            <label class="pr-box" style="margin-left:26px;">
              <input type="checkbox"  [(ngModel)]="blnWednesday" id="" value="" checked="checked" [formControl]="addressInfoForm.controls['Wednesday']">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="day-bax">
            <h4>Thursday</h4>
            <label class="pr-box">
              <input type="checkbox" id=""  [(ngModel)]="blnThursday" value="" checked="checked" [formControl]="addressInfoForm.controls['Thursday']">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="day-bax">
            <h4>Fryday</h4>
            <label class="pr-box">
              <input type="checkbox" id=""  [(ngModel)]="blnFriday" value="" checked="checked" [formControl]="addressInfoForm.controls['Friday']">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="day-bax">
            <h4>Saturday</h4>
            <label class="pr-box">
              <input type="checkbox" id="" [(ngModel)]="blnSaturday" value="" checked="checked" [formControl]="addressInfoForm.controls['Saturday']">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="container" style="margin-left: -28px" >
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="nextClicked('')">Next</button>
      </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="bankInfoForm">
      <form class="row form">

      <ng-template matStepLabel>Bank Info & Payroll</ng-template>

      <!-- <div role="tabpanel" class="tab-pane fade " id="BankInfo_Payroll"> -->

        <div class="row mrgn30">
          <div class="col-lg-6 col-md-6 col-sm-6 col-lg-12 pdng30">
            <div class="col-md-4">
              <mat-form-field appearance="fill">
                <mat-label>Financial Year Start</mat-label>
                <input
                  matInput
                  [(ngModel)]=datFinance
                  readonly
                  [matDatepicker]="picker1"
                  [formControl]="bankInfoForm.controls['finDate']"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="fill">
                <mat-label>Book Start</mat-label>
                <input
                  readonly
                  matInput
                  [(ngModel)]=datBook
                  [matDatepicker]="picker2"
                  [formControl]="bankInfoForm.controls['bookDate']"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="fill">
                <mat-label>Company Start</mat-label>
                <input
                  matInput
                  readonly
                  [(ngModel)]=datCompany
                  [matDatepicker]="picker3"
                  [formControl]="bankInfoForm.controls['companyDate']"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker3"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </div>


          <label>Daily Pay Based On</label>
          <div>
            <mat-radio-group  [(ngModel)]='strYearOrMonth' [formControl]="bankInfoForm.controls['strPay']">
              <mat-radio-button class="container1" checked="true" value="1">Year</mat-radio-button>
              <mat-radio-button class="container1" value="2">Month</mat-radio-button>
            </mat-radio-group>
          </div>


          </div><!--6-->

        </div><!--row-->
        <div class="mrgn30 container row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-lg-12 pdng30">
            <label>Working Days</label>
            <input [formControl]="bankInfoForm.controls['intWrkDays']" class="textBox-C" placeholder="" [(ngModel)]='intWrkDays' matInput type="number" name="" id="">
          </div><!--6-->
        </div>

        <hr style="border:1px solid #d8dedc;width:100%;margin-top:25px;margin-bottom:40px;">

      <div class="bank-details container">
          <h3>Bank Details</h3>


        <div class="row" *ngFor="let item of lstBankDetails;let i=index">
          <div class="col-md-6">
            <mat-form-field>
              <mat-select
                #idPriceTemplate
                matInput
                required
                [(ngModel)]="item.bank"
                name="bank_{{i}}"
                matInput
                placeholder="Bank Name">
                <mat-option
                  *ngFor="let item of lstBankBranch"
                  [value]="item.bankBranchId"
                  >{{ item.branchName }}</mat-option
                >
              </mat-select>
              <!-- <mat-error *ngIf="bankInfoForm.controls['bank'].errors"
                ><span *ngIf="bankInfoForm.controls['bank'].errors.required">
                  You must enter a Bank Name.</span
                >
              </mat-error> -->
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field>
              <input
                matInput
                placeholder="Account Number"
                value=""
                onKeyPress="if(this.value.length==10) return false;"
                [(ngModel)]="item.acno"
                name="acno_{{i}}"
                type="number"
                #bankName
              />
              <!-- <mat-error *ngIf="bankInfoForm.controls['acno'].errors"
                ><span *ngIf="bankInfoForm.controls['acno'].errors.required">
                  You must enter a Account No.</span
                >
              </mat-error> -->
            </mat-form-field>
          </div>
          <div  *ngIf="i==(lstBankDetails.length-1)" class="col-xl-2 col-md-2">
            <button id="add_button" title="Add Bank" (click)="addBank()" class="view_btn float-right mt-3">
               <i class="fa fa-plus"></i>
            </button>
          </div>
          <div  *ngIf="i!=(lstBankDetails.length-1) " class="col-xl-2 col-md-2">
            <button id="delete_button" title="Delete Bank" (click)="deleteBank(i)" class="delete_btn float-right mt-3">
              <i class="fa fa-trash"></i>
            </button>
         </div>

         </div><!--row-->
        </div><!--bank-->



      <!-- </div> -->


        <div class="next-button">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button #stepper (click)="nextClicked('bank')">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="otherInfoForm">
      <form
        class="row form"
      >
        <ng-template matStepLabel>Other Info</ng-template>
        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Office Head Name"
              [formControl]="otherInfoForm.controls['headName']"
              [(ngModel)]="strHeadName"
              value=""
              name="company"
              #headName
            />
            <mat-error *ngIf="otherInfoForm.controls['headName'].errors"
              ><span *ngIf="otherInfoForm.controls['headName'].errors.required">
                You must enter a Office Head Name.</span
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Father Name"
              [formControl]="otherInfoForm.controls['fatherName']"
              [(ngModel)]="strFatherName"
              value=""
              name="fatherName"
              #fatherName
            />
            <mat-error *ngIf="otherInfoForm.controls['fatherName'].errors"
              ><span *ngIf="otherInfoForm.controls['fatherName'].errors.required">
                You must enter a Father Name.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select
              #idPriceTemplate
              matInput
              required
              [(ngModel)]="intDesignation"
              name="intCompanyType"
              matInput
              placeholder="Designation"
              [formControl]="otherInfoForm.controls['designation']"
            >
              <mat-option
                *ngFor="let item of lstDesignation"
                [value]="item.designationId"
                >{{ item.designation }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="otherInfoForm.controls['designation'].errors"
              ><span
                *ngIf="otherInfoForm.controls['designation'].errors.required"
              >
                You must enter a Designation.</span
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="PAN No."
              [formControl]="otherInfoForm.controls['panNo']"
              [(ngModel)]="strPanNo"
              value=""
              maxlength="10"
              minlength="10"
              name="panNo"
              type="text"
            />
            <mat-error *ngIf="otherInfoForm.controls['panNo'].errors"
              ><span *ngIf="otherInfoForm.controls['panNo'].errors.required">
                You must enter a PAN No.</span
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="TAN No."
              [formControl]="otherInfoForm.controls['tanNo']"
              [(ngModel)]="strTanNo"
              value=""
              name="tanNo"
              #tanNo
            />
            <mat-error *ngIf="otherInfoForm.controls['tanNo'].errors"
              ><span *ngIf="otherInfoForm.controls['tanNo'].errors.required">
                You must enter a TAN No..</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="CIN"
              [formControl]="otherInfoForm.controls['cin']"
              [(ngModel)]="strCin"
              value=""
              name="cin"
              #cin
            />
            <mat-error *ngIf="otherInfoForm.controls['cin'].errors"
              ><span *ngIf="otherInfoForm.controls['cin'].errors.required">
                You must enter a CIN.</span
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="GST TIN"
              [formControl]="otherInfoForm.controls['gst']"
              [(ngModel)]="strGst"
              value=""
              name="gst1"
              #1
            />
            <mat-error *ngIf="otherInfoForm.controls['gst'].errors"
              ><span *ngIf="otherInfoForm.controls['gst'].errors.required">
                You must enter a GST TIN.</span
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="ROC Code"
              [formControl]="otherInfoForm.controls['roc']"
              [(ngModel)]="strRoc"
              value=""
              name="roc1"
              #1
            />
            <mat-error *ngIf="otherInfoForm.controls['roc'].errors"
              ><span *ngIf="otherInfoForm.controls['roc'].errors.required">
                You must enter a ROC Code.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Registration Number"
              [formControl]="otherInfoForm.controls['regNo']"
              [(ngModel)]="strRegNo"
              value=""
              name="regNo"
              #regNo
            />
            <mat-error *ngIf="otherInfoForm.controls['regNo'].errors"
              ><span *ngIf="otherInfoForm.controls['regNo'].errors.required">
                You must enter a Registration Number.</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="next-button">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="nextClicked('other')">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <!-- <form class="row"> -->
      <div
        class="row form"
      >
        <ng-template matStepLabel>Logo</ng-template>
        <div
          style="
            text-align: center;
            margin-top: 100px;
            text-align: center;
            margin-bottom: 100px;
            margin-left: 40%;
          "
        >
          <mat-card style="margin-top: 10px; width: 100%;">
            <mat-card-content>
              Drop files here or click to upload
            </mat-card-content>
            <br />
            <p *ngIf="imgSrc">{{ imgSrc.name }}</p>
            <mat-card-actions>
              <button mat-button color="warn" (click)="onClick()">
                <mat-icon>file_upload</mat-icon>
                Browse
              </button>
            </mat-card-actions> </mat-card
          ><input
            type="file"
            #fileUpload
            id="fileUpload"
            name="fileUpload"
            multiple="multiple"
            accept="image/*"
            style="display: none;"
            (change)="handleFileSelect($event)"
          />
        </div>
        <div class="row" style="margin: 0 auto;width: 100%; display: flex;justify-content: center;">
          <img style="max-width: 35%;" [src]="base64textString[0]">

        </div>
      </div>

      <div class="next-button">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="saveDetail()">Save</button>
      </div>
      <!-- </form> -->
    </mat-step>
  </mat-horizontal-stepper>

  <!-- Copyright 2020 Google LLC. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license

         <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      -->
