<div class="card" style="background-color: #f3f9fe; border-radius: 22px;">
  <div class="card-body">
    <h2 style="color: black;" class="card-title">Proffesional Tax Policy</h2>
  </div>
  <div style="padding: 15px">
   <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select
          [(ngModel)]="stateId"
          placeholder=""
          (ngModelChange)="changeState()"
        >
          <mat-option
            *ngFor="let type of lstState"
            [value]="type.stateId"
          >
            {{ type.state }}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
<hr>
  <div class="row" style="background-color: #f3f9fe">
    <div class="col-md-12" style="padding: 35px">
      <div class="example-container mat-elevation-z8 mt-3">
        <table  class="mat-elevation-z8">
          <tr>
            <th>Range</th>
            <th>Range From</th>
            <th>Range To</th>
            <th>Amount</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let row of lstTableData;let i=index">
            <td>
              <input
              [(ngModel)]="row.range"
                style="
                background-color: #f3f9fe;
                padding: 6px;
                border-radius: 10px;
                "
                matInput
                type="number"
                placeholder=""
              />
            </td>
            <td><input
              [(ngModel)]="row.rangeFrom"
                style="
                background-color: #f3f9fe;
                padding: 6px;
                border-radius: 10px;
                "
                matInput
                type="number"
                placeholder=""
              /></td>
            <td>  <input
              [(ngModel)]="row.rangeTo"
                style="
                background-color: #f3f9fe;
                padding: 6px;
                border-radius: 10px;
                "
                matInput
                type="number"
                placeholder=""
              /></td>
            <td>
              <input
              [(ngModel)]="row.taxAmount"
                style="
                background-color: #f3f9fe;
                padding: 6px;
                border-radius: 10px;
                "
                matInput
                type="number"
                placeholder=""
              /></td>
              <td style="display:flex !important;
              justify-content:center!important;">
                <button *ngIf="lstTableData.length-1===i"
                id="Add"
                title="Add"
                class="add_btn"
                (click)="addRow(i)"
              >
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              <button
              style="margin-left: 6px;"
                id="delete"
                title="Delete"
                (click)="deleteRow(i)"
                class="delete_btn mr-2"
              >
                <i
                  class="fa fa-trash"
                  style="color: cornflowerblue"
                  aria-hidden="true"
                ></i>
                </button>
              </td>
          </tr>
        </table>
   </div>
  </div>
  <div class="col-md-12 row" style="margin-top: 50px;margin-left: 40%;">
    <button type="button"  mat-raised-button color="primary" class="btn save_btn m-r-10 m-t-20" (click)="saveDetail()">Save</button>
    <button type="button"  mat-raised-button class="btn btn-secondary m-t-20" (click)="cancel()">Cancel</button>
</div>
</div>
