<div class="card" style="background-color: #f3f9fe; border-radius: 22px;">
  <div class="card-body">
    <h3 style="color: black;" class="card-title">Add Work Policy</h3>
  </div>
  <!-- <div style="padding: 15px"> -->
   <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Policy Name</mat-label>
          <input matInput [(ngModel)]="policyName"
        type="text" />
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>General Shift</mat-label>
          <mat-select
          [(ngModel)]="generalShift"
              placeholder=""
            >
              <mat-option
                *ngFor="let type of lstGeneralShift"
                [value]="type.shiftId"
              >
                {{ type.shiftName }}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
   </div>
  <!-- <hr> -->
    <mat-tab-group style="width: 80%;" [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event)" >
      <mat-tab  label="Policy Details">
        <div class="example-container mat-elevation-z8 mt-3">
          <table class="table table-border">
            <thead class="text-nowrap">
              <th>Working Day <span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Day<span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Day Shift<span class="ui-column-resizer" dragableColumn> </span></th>
            </thead>
            <tbody>
                <tr *ngFor="let row of lstPolicyDetails;let i= index">
                  <td>
                    <input
                    style="
                    background-color: #f3f9fe;
                    padding: 6px;
                    border-radius: 10px;
                    width: 22px;
                    height: 22px;
                    margin-left: 10px;
                    margin-top: 8px;
                    "
                    type="checkbox" id=""  [(ngModel)]="row.workingDay" value="" checked="checked">
                  </td>
                  <td>
                    <input
                      style="
                      background-color: #f3f9fe;
                      padding: 6px;
                      border-radius: 10px;
                      "
                      readonly
                      matInput
                      placeholder=""
                      [(ngModel)]="row.day"
                    />
                  </td>
                  <td>
                    <mat-select
                    style="
                    background-color: #f3f9fe;
                    padding: 6px;
                    border-radius: 10px;
                    "
                    placeholder=""
                    [(ngModel)]="row.shiftId"
                  >
                    <mat-option
                      *ngFor="let type of lstGeneralShift"
                      [value]="type.shiftId"
                    >
                      {{ type.shiftName }}
                    </mat-option>
                  </mat-select>
                  </td>
                </tr>
            </tbody>
          </table>
     </div>
     <div class="col-md-12 row">
      <button color="primary" mat-raised-button (click)="nextStep()" type="button">Next</button>
     </div>

      </mat-tab>
      <mat-tab [disabled]="isFillTab1" label="Policy Consequences">
        <div class="example-container mat-elevation-z8 mt-3">
          <table class="table table-border">
            <thead class="text-nowrap">
              <th>Consequences <span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Allowed Days/Month<span class="ui-column-resizer" dragableColumn> </span></th>
              <th>LOP<span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Casual<span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Amount<span class="ui-column-resizer" dragableColumn> </span></th>

            </thead>
            <tbody>
                <tr *ngFor="let row of lstPolicyConsequences;let i= index">
                  <td>
                    <input
                      style="
                      background-color: #f3f9fe;
                      padding: 6px;
                      border-radius: 10px;
                      "
                      readonly
                      matInput
                      placeholder=""
                      [(ngModel)]="row.consequences"
                    />
                  </td>
                  <td>
                    <input
                      style="
                      background-color: #f3f9fe;
                      padding: 6px;
                      border-radius: 10px;
                      "
                      matInput
                      placeholder=""
                      [(ngModel)]="row.allowedDays"
                    />
                  </td>
                  <td>
                    <mat-select
                    style="
                    background-color: #f3f9fe;
                    padding: 6px;
                    border-radius: 10px;
                    "
                    placeholder=""
                    [(ngModel)]="row.lop"
                  >
                    <mat-option
                      *ngFor="let type of lstLop"
                      [value]="type.DayTypeID"
                    >
                      {{ type.DayType }}
                    </mat-option>
                  </mat-select>
                  </td>
                  <td>
                    <mat-select
                    style="
                    background-color: #f3f9fe;
                    padding: 6px;
                    border-radius: 10px;
                    "
                    placeholder=""
                    [(ngModel)]="row.casual"
                  >
                    <mat-option
                      *ngFor="let type of lstCasual"
                      [value]="type.DayTypeID"
                    >
                      {{ type.DayType }}
                    </mat-option>
                  </mat-select>
                  </td>
                  <td>
                    <input
                      style="
                      background-color: #f3f9fe;
                      padding: 6px;
                      border-radius: 10px;
                      "
                      matInput
                      placeholder=""
                      [(ngModel)]="row.amount"
                    />
                  </td>
                </tr>
            </tbody>
          </table>
     </div>
     <div class="row">
      <button color="primary" mat-raised-button class="btn save_btn m-r-10 m-t-20"  (click)="previousStep()" type="button">Previous</button>
      <button type="button"  mat-raised-button color="primary" class="btn save_btn m-r-10 m-t-20" (click)="saveDetail()">Save</button>
     </div>
      </mat-tab>
  </mat-tab-group>
</div>
