<div class="card" style="background-color: #f3f9fe; border-radius: 22px">
  <div class="card-body">
    <h3 style="color: black" class="card-title">Edit Deduction Policy</h3>
  </div>
  <form
    [formGroup]="deductionPolicy"
    style="padding: 15px"
    (ngSubmit)="saveDetail()"
  >
    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Policy Name</mat-label>
          <input
            matInput
            [formControl]="deductionPolicy.controls['deductionPolicyName']"
            type="text"
          />
          <mat-error
            *ngIf="deductionPolicy.controls['deductionPolicyName'].errors"
            ><span
              *ngIf="
                deductionPolicy.controls['deductionPolicyName'].errors.required
              "
            >
              You must enter a Policy Name.</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Effect From</mat-label>
          <input
            matInput
            readonly
            [matDatepicker]="picker1"
            [formControl]="deductionPolicy.controls['effectFrom']"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Deduction</mat-label>
          <mat-select
            [formControl]="deductionPolicy.controls['deductionId']"
            placeholder=""
          >
            <mat-option
              *ngFor="let type of lstDeduction"
              [value]="type.additionDeductionId"
            >
              {{ type.particulars }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <span>Based On</span>
    <div class="row">
      <div class="col-md-4" style="margin-top: 8px">
        <label>
          <input
            type="radio"
            value="particular"
            [formControl]="deductionPolicy.controls['deductFrom']"
          />
          <span style="margin-left: 7px">Particulars</span>
        </label>
        <label style="margin-left: 20%">
          <input
            type="radio"
            value="rateOnly"
            [formControl]="deductionPolicy.controls['deductFrom']"
          />
          <span style="margin-left: 7px">Rate Only</span>
        </label>
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Parameter Name</mat-label>
          <mat-select
            [formControl]="deductionPolicy.controls['parameterName']"
            placeholder=""
          >
            <mat-option
              *ngFor="let type of lstParameterName"
              [value]="type.additionDeductionId"
            >
              {{ type.particulars }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="deductionPolicy.controls['parameterName'].errors"
            ><span
              *ngIf="deductionPolicy.controls['parameterName'].errors.required"
            >
              You must select Parameter Name .</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Parameter Value</mat-label>
          <mat-select
            [formControl]="deductionPolicy.controls['parameterValue']"
            placeholder=""
          >
            <mat-option
              *ngFor="let type of lstParameterValue"
              [value]="type.parameterValueId"
            >
              {{ type.parameterValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="deductionPolicy.controls['parameterValue'].errors"
            ><span
              *ngIf="deductionPolicy.controls['parameterValue'].errors.required"
            >
              You must select Parameter Value .</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input
            matInput
            OnlyNumber="true"
            [formControl]="deductionPolicy.controls['Amount']"
            type="text"
          />
          <mat-error *ngIf="deductionPolicy.controls['Amount'].errors"
            ><span *ngIf="deductionPolicy.controls['Amount'].errors.required">
              You must enter a Amount.</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <hr *ngIf="deductionPolicy.controls['deductFrom'].value === 'particular'" />
    <h5
      *ngIf="deductionPolicy.controls['deductFrom'].value === 'particular'"
      style="margin-left: 4px; color: #d10000"
    >
      <b>Deduct From</b>
    </h5>
    <div
      *ngIf="deductionPolicy.controls['deductFrom'].value === 'particular'"
      class="row"
      style="margin-top: 8px"
    >
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Calculation Based On</mat-label>
          <mat-select
            [formControl]="deductionPolicy.controls['basedOn']"
            placeholder=""
          >
            <mat-option
              *ngFor="let type of lstCalcBasedOn"
              [value]="type.calculationbasedonId"
            >
              {{ type.calculationbasedon }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="deductionPolicy.controls['basedOn'].errors"
            ><span *ngIf="deductionPolicy.controls['basedOn'].errors.required">
              You must select Calculation Based On .</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Excluded from gross only for calc based on is gross salary-->
      <div class="col-md-4" *ngIf="deductionPolicy.get('basedOn').value === 2">
        <mat-form-field appearance="outline">
          <mat-label>Excluded From Gross</mat-label>
          <mat-select
            multiple
            [formControl]="deductionPolicy.controls['particularId']"
            placeholder=""
          >
            <mat-option
              *ngFor="let type of lstParticular"
              [value]="type.additionDeductionId"
            >
              {{ type.particulars }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Employer Contribution (%)</mat-label>
          <input
            matInput
            OnlyNumber="true"
            [formControl]="deductionPolicy.controls['employerContribution']"
            type="text"
          />
          <mat-error
            *ngIf="deductionPolicy.controls['employerContribution'].errors"
            ><span
              *ngIf="
                deductionPolicy.controls['employerContribution'].errors.required
              "
            >
              You must enter a Employer Contribution.</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Employee Contribution (%) </mat-label>
          <input
            matInput
            OnlyNumber="true"
            [formControl]="deductionPolicy.controls['employeeContribution']"
            type="text"
          />
          <mat-error
            *ngIf="deductionPolicy.controls['employeeContribution'].errors"
            ><span
              *ngIf="
                deductionPolicy.controls['employeeContribution'].errors.required
              "
            >
              You must enter a Employee Contribution.</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-12 row" style="margin-top: 50px; margin-left: 40%">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="btn save_btn m-r-10 m-t-20"
      >
        Save
      </button>
      <button
        type="button"
        mat-raised-button
        class="btn btn-secondary m-t-20"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
